{% extends "base.html" %}
{% block title %}Luxury Wheels{% endblock %}
{% block content %}

<style>
  body {
    background-image: url("{{ url_for('static', filename='img/fundo.jpg') }}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    text-shadow: 1px 1px 2px black;
  }
</style>

<div class="text-center mt-5">
  <h1 class="display-3 fw-bold">Bem-vindo à Luxury Wheels</h1>
  <p class="lead text-white fs-4" style="text-shadow: 2px 2px 4px rgba(0,0,0,0.6);">
  Sua plataforma de aluguel de veículos de luxo
</p>


  <div class="mt-4">
    <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg me-3">Entrar</a>
    <a href="{{ url_for('register') }}" class="btn btn-outline-light btn-lg">Criar Conta</a>
  </div>
</div>
{% endblock %}
